.productCard {
	width: 24%;
	height: auto;
	background: #fff;
	border-radius: 5px;
	text-align: center;
	padding: 10px;
}

@media screen and (max-width: 600px) {
	.productCard {
		width: auto;
	}
}

.productCard__price {
	color: rgb(118, 202, 231);
	margin: 20px 0;
}
