.productsList {
	padding: 15px;
	background-color: #f1f5f9;
}

.productsList__products {
	height: 60vh;
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
	gap: 1rem;
	overflow-y: auto;
}

@media screen and (max-width: 425px) {
	.productsList__products {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		overflow-y: visible;
	}
}

h1 {
	box-shadow: 0 6px 4px -4px rgba(0, 0, 0, 0.2);
	margin-bottom: 5px;
}
